HELP.md
target/classes/com/project/food_delivery/config
target/classes/com/project/food_delivery/dtos
target/classes/com/project/food_delivery/mapper_interfaces
target/classes/com/project/food_delivery/repositories
target/classes/com/project/food_delivery/rest_controllers
target/classes/com/project/food_delivery/services
target/generated-sources/annotations/com/project/food_delivery/mapper_interfaces
target/generated-test-sources
target/maven-status/maven-compiler-plugin/compile/default-compile
target/test-classes
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
